<div id="singleproduct" v-cloak>

  <div class="product-details">
    <!-- ------ Filter Bar ------ -->
    <div class="filter-bar sticky-top">
      <div class="container">
        <div class=" row d-flex justify-content-center align-items-center">
          <div class="col-md-6 col-3">
            <nav class="  navbar-expand-lg " id="mainNav">
              <ul class="navbar-nav ml-auto">
                <li class="">
                  <a class="nav-link js-scroll-trigger" href="#scroll-section-1">Product Details</a>
                </li>
                <li class="">
                  <a class="nav-link js-scroll-trigger" href="#scroll-section-2">Specification</a>
                </li>
                <li class="">
                  <a class="nav-link js-scroll-trigger" href="#scroll-section-3">views</a>
                </li>
                <li class="">
                  <a class="nav-link js-scroll-trigger" href="#scroll-section-4">Delivery Info</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class=" col-md-6  col-9 text-right">
            <div class="sendtofriend-print">
              <i class="fa fa-facebook fa-fw btn-fbshare"></i>
              <a class="btn-fbshare" href="#">Sharewith facebook </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ------End Filter Bar ------ -->


    <div class="main-wrappr">
      <div class="container">
        <div class="row">
          <div class="col-md-6" id="spy">
            <!-- ------ product slider ------ -->
            <div  class="product-slider">
              <div id="sync1" class="slider owl-carousel">
                <div class="item"><img  data-toggle="magnify"  src="/images/products-slider-1.jpg" class="img-fluid img-rounded mx-auto"  alt=""></div>
                <div class="item"><img  data-toggle="magnify"  src="/images/products-slider-2.jpg" class="img-fluid img-rounded mx-auto"  alt=""></div>
                <div class="item"><img  data-toggle="magnify"  src="/images/products-slider-1.jpg" class="img-fluid img-rounded mx-auto"  alt=""></div>
                <div class="item"><img  data-toggle="magnify"  src="/images/products-slider-2.jpg" class="img-fluid img-rounded mx-auto"  alt=""></div>
                <div class="item"><img  data-toggle="magnify"  src="/images/products-slider-1.jpg" class="img-fluid img-rounded mx-auto"  alt=""></div>
                <div class="item"><img  data-toggle="magnify"  src="/images/products-slider-2.jpg" class="img-fluid img-rounded mx-auto"  alt=""></div>
                <div class="item"><img  data-toggle="magnify"  src="/images/products-slider-1.jpg" class="img-fluid img-rounded mx-auto"  alt=""></div>
                <div class="item"><img  data-toggle="magnify"  src="/images/products-slider-2.jpg" class="img-fluid img-rounded mx-auto"  alt=""></div>
                <div class="item"><img  data-toggle="magnify"  src="/images/products-slider-1.jpg" class="img-fluid img-rounded mx-auto"  alt=""></div>
              </div>

              <div id="sync2" class="navigation-thumbs owl-carousel">
                <div class="item"><img src="/images/products-slider-1.jpg"  class="img-fluid" alt=""></div>
                <div class="item"><img src="/images/products-slider-2.jpg"  class="img-fluid" alt=""></div>
                <div class="item"><img src="/images/products-slider-1.jpg"  class="img-fluid" alt=""></div>
                <div class="item"><img src="/images/products-slider-2.jpg"  class="img-fluid" alt=""></div>
                <div class="item"><img src="/images/products-slider-1.jpg"  class="img-fluid" alt=""></div>
                <div class="item"><img src="/images/products-slider-2.jpg"  class="img-fluid" alt=""></div>
                <div class="item"><img src="/images/products-slider-1.jpg"  class="img-fluid" alt=""></div>
                <div class="item"><img src="/images/products-slider-2.jpg"  class="img-fluid" alt=""></div>
                <div class="item"><img src="/images/products-slider-1.jpg"  class="img-fluid" alt=""></div>
              </div>
            </div>
            <!-- ------End product slider ------ -->

            <!-- ------------- other-detail---------- -->
            <div class="other-detail">
              <div class="row text-center">
                <div class="col-md-4">
                  <div class="item">
                    <h6>Warranty</h6>
                    <p>36 Months</p>
                  </div>
                </div>
                <div class="col-md-4 middle">
                  <div class="item">
                    <h6>Delivery</h6>
                    <p>2 - 5 Working Days</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="item">
                    <h6>Delivery Area</h6>
                    <p>Island wide</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- -------------End other-detail---------- -->
          </div>

          <div class="col-md-1"></div>

          <!-- ------------ scrollspy section------------ -->
          <div class="col-md-5 scrollspy-example" data-spy="scroll" data-target="#spy">
            <div class="products-summery">
              <h4>1m 08cm (43") T5500 Smart FHD TV</h4>
              <p class="p-code">PRODUCT CODE: <span>SMTV43N5100ARXSG</span></p>
              <p class="m-name">MODEL NO: <span>UA43N5100ARXSG</span></p>
              <p class="price"><span><del>Rs. 175,000</del></span> Rs. 155,990</p>

              <div  class="bank-promo owl-carousel">
                <div class="item">
                  <img src="/images/boc-logo.png"  class="img-fluid" alt="">
                  <p class="text">6 Installments <br> (Call & Convert)</p>
                  <p class="amount">RS 14136.68</p>
                </div>
                <div class="item">
                  <img src="/images/boc-logo.png"  class="img-fluid" alt="">
                  <p class="text">12 Installments <br> (Call & Convert)</p>
                  <p class="amount">RS 14136.68</p>
                </div>
                <div class="item">
                  <img src="/images/boc-logo.png"  class="img-fluid" alt="">
                  <p class="text">6 Installments <br> (Call & Convert)</p>
                  <p class="amount">RS 14136.68</p>
                </div>
                <div class="item">
                  <img src="/images/boc-logo.png"  class="img-fluid" alt="">
                  <p class="text">12 Installments <br> (Call & Convert)</p>
                  <p class="amount">RS 14136.68</p>
                </div>
                <div class="item">
                  <img src="/images/boc-logo.png"  class="img-fluid" alt="">
                  <p class="text">6 Installments <br> (Call & Convert)</p>
                  <p class="amount">RS 14136.68</p>
                </div>
                <div class="item">
                  <img src="/images/boc-logo.png"  class="img-fluid" alt="">
                  <p class="text">12 Installments<br>(Call & Convert)</p>
                  <p class="amount">RS 14136.68</p>
                </div>
                <div class="item">
                  <img src="/images/boc-logo.png"  class="img-fluid" alt="">
                  <p class="text">6 Installments  <br> (Call & Convert)</p>
                  <p class="amount">RS 14136.68</p>
                </div>
                <div class="item">
                  <img src="/images/boc-logo.png"  class="img-fluid" alt="">
                  <p class="text">12 Installments  <br> (Call & Convert)</p>
                  <p class="amount">RS 14136.68</p>
                </div>
                <div class="item">
                  <img src="/images/boc-logo.png"  class="img-fluid" alt="">
                  <p class="text">6 Installments  <br> (Call & Convert)</p>
                  <p class="amount">RS 14136.68</p>
                </div>
              </div>

              <div class="action-btn-section">
                <a href="#" class="buy-now">BUY NOW</a>
                <a href="#" class="add-cart">ADD TO CART</a>
              </div>

              <div class="option-detail">
                <h6>SIZE</h6>
                <a href="#" class="badge"><span>1m 08cm (14”)</span></a>
                <a href="#" class="badge"><span>1m 08cm (21”)</span></a>
                <a href="#" class="badge"><span>1m 08cm (32”)</span></a>
                <a href="#" class="badge"><span>1m 08cm (36”)</span></a>
                <a href="#" class="badge"><span>1m 08cm (43”)</span></a>
                <a href="#" class="badge"><span>1m 08cm (52”)</span></a>
              </div>

              <div class="option-detail">
                <h6>COLOUR</h6>
                <a href="#" class="badge">
                  <div class="color-indicator" style="background-color:#000"></div>
                  <p>Mirage Black</p>
                </a>
                <a href="#" class="badge">
                  <div class="color-indicator" style="background-color:#a2a2a2"></div>
                  <p>Metal Gray</p>
                </a>
                <a href="#" class="badge">
                  <div class="color-indicator" style="background-color:#000"></div>
                  <p>Mirage Black</p>
                </a>
                <a href="#" class="badge">
                  <div class="color-indicator" style="background-color:#a2a2a2"></div>
                  <p>Metal Gray</p>
                </a>
                <a href="#" class="badge">
                  <div class="color-indicator" style="background-color:#000"></div>
                  <p>Mirage Black</p>
                </a>
                <a href="#" class="badge">
                  <div class="color-indicator" style="background-color:#a2a2a2"></div>
                  <p>Metal Gray</p>
                </a>
              </div>

            </div>
          </div>
          <!-- ------------End scrollspy section------------ -->
        </div>
      </div>
    </div>


    <!-- ------------products summery------------ -->
    <div class="product-summary">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-3 text-center item-outer">
            <div class="item">
              <img src="/images/product-summary-1.png" class="img-fluid m-auto"   alt="">
              <p>Smart Hub & One Remote Control</p>
            </div>
          </div>
          <div class="col-md-3 text-center item-outer">
            <div class="item">
              <img src="/images/product-summary-2.png" class="img-fluid m-auto"   alt="">
              <p>HDR</p>
            </div>
          </div>
          <div class="col-md-3 text-center item-outer">
            <div class="item">
              <img src="/images/product-summary-3.png" class="img-fluid m-auto"   alt="">
              <p>Personal Computer</p>
            </div>
          </div>
          <div class="col-md-3 text-center item-outer">
            <div class="item">
              <img src="/images/product-summary-4.png" class="img-fluid m-auto"   alt="">
              <p>Music System</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ------------End products summery------------ -->



    <!-- ------------Product Details----------- -->
    <section id="scroll-section-1" class="product-details-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">

            <div class="text">
              <h2>Watch, Play, Connect</h2>
            </div>
            <img src="/images/product_details.png" class="img-fluid" alt="">

            <div class="text">
              <h2>Access various content with one remote</h2>
              <h4>Smart Hub & One Remote Control</h4>
              <p>It’s all you need to discover tons of different content in one place and get maximum enjoyment. The sleek One Remote Control keeps it simple, allowing you to quickly search all your favorite content from your set-top box to game console & apps.</p>
            </div>
            <img src="/images/product_details-1.jpg" class="img-fluid" alt="">

          </div>
        </div>
      </div>
    </section>
    <!-- ------------End Product Details------------ -->




    <!-- ------------Product Specification----------- -->
    <section id="scroll-section-2" class="product-Specification">
      <div class="container">
        <div class="row">
          <div class="col-md-12">


            <div class="Specification">
              <h6>Product Type</h6>
              <div class="row detail-list">
                <div class="col-md-4 detail-list-item">
                  <p class="title">LED TV</p>
                </div>
              </div>
            </div>

            <div class="Specification">
              <h6>Display</h6>
              <div class="row detail-list">
                <div class="col-md-4 detail-list-item">
                  <p class="title">Screen Size</p>
                  <p class="detail">1m 38cm (55")</p>
                </div>
                <div class="col-md-4 detail-list-item">
                  <p class="title">Resolution</p>
                  <p class="detail">3,840 x 2,160</p>
                </div> 
              </div>
            </div>

            <div class="Specification">
              <h6>Video</h6>
              <div class="row detail-list">
                <div class="col-md-4 detail-list-item">
                  <p class="title">Picture Engine</p>
                  <p class="detail">Crystal Processor 4K</p>
                </div>
                <div class="col-md-4 detail-list-item">
                  <p class="title">PQI (Picture Quality Index)</p>
                  <p class="detail">2100</p>
                </div>
                <div class="col-md-4 detail-list-item">
                  <p class="title">HDR (High Dynamic Range)</p>
                  <p class="detail">HDR</p>
                </div>
                <div class="col-md-4 detail-list-item">
                  <p class="title">HDR 10+</p>
                  <p class="detail">Yes</p>
                </div>
                <div class="col-md-4 detail-list-item">
                  <p class="title">HLG (Hybrid Log Gamma)</p>
                  <p class="detail">Yes</p>
                </div>
                <div class="col-md-4 detail-list-item">
                  <p class="title">Contrast</p>
                  <p class="detail">Mega Contrast</p>
                </div>
                <div class="col-md-4 detail-list-item">
                  <p class="title">Color</p>
                  <p class="detail">PurColor</p>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- ------------End Product Specification------------ -->




    <!-- ------------Product Reviews----------- -->
    <section id="scroll-section-3" class="product-Reviews">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h6>Reviews</h6>

          </div>
        </div>
      </section>
      <!-- ------------End Product Reviews------------ -->


      <!-- ------------Product Delivery Info----------- -->
      <section id="scroll-section-4" class="delivery-info">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h6> Delivery Info</h6>
              <p>Free delivery only for Colombo and suburbs. * Delivery within five working days. - Conditions Apply*</p>
            </div>
          </div>
        </section>
        <!-- ------------End Product Delivery Info------------ -->


      </div>

    </div>
    <%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
