body{
  font-family: 'Rubik', sans-serif;
  color: #2d2d2d;
}
h1{
  color:#fff;
}
h2{
  font-weight: 300;
}
h3{
  font-weight: 700;
}
h4 {
  font-size: 20px;
  font-weight: 700;
}
h5 {
  font-weight: 600;
  font-size: 20px;
}
h6 {
  font-weight: 700;
}
p {
  color: #444444;
  font-size: 14px;
  margin: 0;
  line-height: 1.4;
}
h1 > a:not(.btn),
h2 > a:not(.btn),
h3 > a:not(.btn),
h4 > a:not(.btn),
h5 > a:not(.btn),
h6 > a:not(.btn),
p > a:not(.btn),
li > a:not(.btn),
blockquote > a:not(.btn),
label > a:not(.btn),
h1 small > a:not(.btn),
h2 small > a:not(.btn),
h3 small > a:not(.btn),
h4 small > a:not(.btn),
h5 small > a:not(.btn),
h6 small > a:not(.btn),
p small > a:not(.btn),
li small > a:not(.btn),
blockquote small > a:not(.btn),
label small > a:not(.btn) {
  color: #0046be;
  border-bottom:none;
}
a{
  text-decoration: none !important;
}
a.buy-now {
  border-radius: 20px;
  width: 90px;
  font-size: 14px;
  font-weight: 100;
}

a.buy-now:hover{
  background: #0046be !important;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  outline: none;
}
button:focus {
  outline: none;
}

p.price {
  color: #62ab00;
}
p.price span {
  color: #cccccc;
}

/* Commen tabs styles */
.nav.nav-tabs {
  float: right;
  border-bottom: none;
}
.nav a.nav-link{
  color: #999999;
  padding: 0;
  border-bottom: 2px solid #fff;
  border: none;
  margin-right: 25px;
}
.nav a.nav-link:hover {
  border-bottom: 2px solid #000000 !important;
  color: #000000;
}
.nav a.nav-link:last-child{
  margin-right: 0;
}
.nav .nav-tabs {
  border-bottom: none;
}
.nav a.nav-link.active {
  color: #000000;
  border: none;
  border-bottom: 2px solid #000;
  background: transparent;
}
.nav .content-header {
  border-bottom: 2px solid #efefef;
  margin-bottom: 35px;
  padding-bottom: 7px;
}
.nav .content-header h5 {
  float: left;
  margin-top: -4px;
  margin: 0;
}
.content-header h5 {
  float: left;
  margin-top: -4px;
  margin: 0;
}
.content-header {
  border-bottom: 2px solid #efefef;
  margin-bottom: 35px;
  padding-bottom: 7px;
}


ul.ratin_list.lock-star {
  padding: 0px;
  list-style: none;
  margin: 0;
}

ul.ratin_list.lock-star .rating-stars {
  pointer-events: none;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
}
.rating-container .empty-stars {
  color: #ffc107;
}
ul.ratin_list.lock-star i.fa {
  color: #EDA629 !important;
}
ul.ratin_list.lock-star i.fa.fa-star {
  -webkit-text-stroke: black;
  text-shadow: none;
}

/* ============= Main Slider ============  */
#carousel .carousel-item {
  height: 100vh;
  width: 100%;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-size: cover;
}

#carousel .carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

#carousel .carousel-item .captions {
  padding: 40px;
  color: white;
  animation-duration: 1s;
  animation-delay: 2s;
  margin-bottom: 15%;
}

#carousel .captions h2 {
  animation-duration: 1s;
  animation-delay: 2s;
}

#carousel .captions p {
  animation-duration: 1s;
  animation-delay: 2.2s;
  font-weight: 100;
  color: #fff;
  padding-bottom: 30px;
  font-size: 15px;
}

#carousel .captions a {
  animation-duration: 1s;
  animation-delay: 2.4s;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  border-bottom: 2px solid #fff;
  margin-right: 15px;
  text-decoration: none;
}
#carousel .captions a:hover {
  color: #aeaba4;
  border-bottom: 2px solid #aaa7a0;
}
#carousel .captions a.buy-now {
  background-color: #0046be;
  border-bottom: none;
  margin-right: 0;
}
#carousel .captions a.buy-now:hover {
  background-color: #0442ab !important;
  color: #fff;
}
#carousel .carousel-control-prev-icon {
  background-image: url(../images/icons/left-arrow.png);
}
#carousel .carousel-control-next-icon {
  background-image: url(../images/icons/right-arrow.png);
}
#carousel .carousel-control-prev-icon,
#carousel .carousel-control-next-icon {
  width: 42px;
  height: 42px;
}
#carousel .carousel-control-prev,
#carousel .carousel-control-next{
  width: 8%;
  opacity: .9;
  transition: .2s;
}
#carousel .carousel-control-prev:hover,
#carousel .carousel-control-next:hover{
  width: 9%;
  opacity: 1;
  transition: .2s;
}


/* ============= Populer item tabs ============  */
div#populer-item-tab {
  padding: 60px 0px 35px 0px;
}
div#populer-item-tab .nav-tabs {
  display: inline-flex;
}
div#populer-item-tab h3 {
  margin: 0;
}
div#populer-item-tab a.nav-item.nav-link {
  margin:  0.5rem 1rem;
}
div#populer-item-tab .nav-tabs {
  border-bottom: none;
  padding: 15px 0px;
  float: inherit;
}
div#populer-item-tab a.nav-item.nav-link.active {
  color: #000000;
  border: none;
  border-bottom: 2px solid #000;
}
div#populer-item-tab .inner-item-wrapper {
  border: 1px solid #eeeeee;
  position: relative;
  min-height: 285px;
}
div#populer-item-tab .inner-item-wrapper.middle {
  border-left: none !important;
  border-right: none !important;
  min-height: 597px !important;
}
div#populer-item-tab .inner-item-wrapper.middle .inner-wrapper-text {
  padding-top: 45px;
}
div#populer-item-tab .inner-item-wrapper.drak {
  background: #f4f4f4;
}
div#populer-item-tab .inner-wrapper-text {
  height: 85px;
  /* position: absolute;
  bottom: 21px;
  left: 0;
  right: 0; */
}
div#populer-item-tab .image-box {
  overflow: hidden;
}
div#populer-item-tab .image-box img {
  transform: scale(1);
  transition: all .3s linear;
}
div#populer-item-tab .inner-item-wrapper:hover .image-box img {
  transform: scale(1.06);
}
div#populer-item-tab .inner-item-wrapper a {
  color: #000;
  text-decoration: none;
}
div#populer-item-tab .inner-item-wrapper p {
  color: #393939;
  font-size: 14px;
  margin: 0;
}
div#populer-item-tab .inner-item-wrapper a.buy-now {
  background: #000000;
  color: #fff;
}




/* ============= Categories ============ */
div#Categories {
  background-color: #f9f9f9;
  padding: 60px 0px;
}

div#Categories .nav.nav-tabs {
  float: right;
}
div#Categories a.category-item.nav-link{

  border-bottom: 2px solid transparent;

}
div#Categories a.category-item.nav-link:last-child{
  margin-right: 0;
}
div#Categories .nav-tabs {
  border-bottom: none;
}
div#Categories a.category-item.nav-link.active {
  color: #000000;
  border: none;
  border-bottom: 2px solid #000;
  background: transparent;
}
div#Categories .content-header {
  border-bottom: 3px solid #efefef;
  margin-bottom: 15px;
  padding-bottom: 7px;
  margin-left: 15px;
}

div#Categories .inner-wrapper-text h6.name {
  color: #191919;
  font-weight: 500;
  font-size: 16px;
}
div#Categories .inner-item-wrapper:hover h6.name {
  color: #0046be !important;
}

div#Categories .inner-item-wrapper .inner-wrapper-text  {
  min-height: 75px;
  padding: 0px 15px;
}
div#Categories  .inner-item-wrapper:hover {
  -webkit-box-shadow: 0 2px 20px 0 rgba(144,144,144,.2);
  box-shadow: 0 2px 20px 0 rgba(144,144,144,.2);
  transition: .3s;
}
div#Categories .inner-item-wrapper {
  background: #fff;
  border-width: 1px 1px 1px 1px;
  border-color: #e8e8e8;
  border-style: solid;
  transition: .3s;
}
div#Categories .inner-item-wrapper:hover a {
  text-decoration: none;
}
div#Categories .inner-item-wrapper .image-box{
  overflow: hidden;
}
div#Categories .inner-item-wrapper .image-box img {
  transform: scale(1);
  transition: all .3s linear;
}
div#Categories .inner-item-wrapper:hover .image-box img {
  transform: scale(1.02);
}
div#Categories .tab-content {
  margin-left: 15px;
}
div#Categories .text-right.View-more a {
  display: inline-flex;
  color: #080000;
  font-weight: 700;
  font-size: 18px;
  padding-top: 30px;
}
div#Categories .text-right.View-more a:hover{
  color: #0046be ;
  text-decoration: none;
}




/* ============= Best Deals ============ */
div#best-deals {
  padding: 60px 0px;
}

#best-deals a.deals-item.nav-link{
  border-bottom: 2px solid transparent;
}
#best-deals a.deals-item.nav-link:last-child{
  margin-right: 0;
}
#best-deals .nav-tabs {
  border-bottom: none;
}
#best-deals a.deals-item.nav-link.active {
  color: #000000;
  border: none;
  border-bottom: 2px solid #000;
  background: transparent;
}
#best-deals .content-header {
  border-bottom: 2px solid #efefef;
  margin-bottom: 35px;
  padding-bottom: 7px;
}

#best-deals .inner-wrapper-text h6.name {
  color: #191919;
  font-weight: 500;
  font-size: 16px;
}
#best-deals .product-widget.media {
  border: 1px solid #e3e3e3;
  padding: 10px 15px;
  margin-bottom: 30px;
}
#best-deals .product-widget.media:hover {
  -webkit-box-shadow: 0 2px 20px 0 rgba(144,144,144,.2);
  box-shadow: 0 2px 20px 0 rgba(144,144,144,.2);
  transition: .3s;
}
#best-deals .product-widget-content {
  padding: 0 20px;
  position: relative;
}
#best-deals h4.product-title {
  margin-bottom: 3px;
  line-height: 1.625;
  color: #191919;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  transition: .3s;
}
#best-deals h4.product-title:hover {
  color: #0046be;
  text-decoration: none;
}
#best-deals span.price {
  color: #62ab00;
  font-weight: 500;
}
#best-deals .yith-wcwl-add-button {
  position: absolute;
  right: 0;
}
#best-deals i.fa  {
  color: #62ab00;
}
#best-deals .product-widget.media:hover img {
  transition: .4s;
}
#best-deals .product-widget.media:hover img {
  opacity: .7;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #0063d1;
}



/* ============= Campaign-banner ===========  */
.banner-box {
  display: block;
  position: relative;
  overflow: hidden;
}
.banner-box:hover::before {
  -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,200%,0);
  transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,200%,0);
}

.banner-box::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.5);
  -webkit-transition: -webkit-transform 1.1s;
  transition: -webkit-transform 1.1s;
  transition: transform 1.1s;
  transition: transform 1.8s,-webkit-transform 1.1s;
  -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-200%,0);
  transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-200%,0);
}






div#recent-products {
  padding: 60px 0px;
}
div#recent-products .xs-product-category {
  padding: 0 13px;
  border-right: 1px solid #ebebeb;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  text-align: center;
}
div#recent-products h4.product-title a {
  margin-bottom: 10px;
  line-height: 1.625;
  color: #191919;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  transition: .3s;
  border: none;
}
div#recent-products span.price {
  color: #62ab00;
  font-weight: 500;
}
div#recent-products .xs-product-category:hover {
  opacity: .8;
}
div#recent-products .xs-product-category img  {
  width: auto;
  margin: auto;
}
div#recent-products .owl-item.active.lastActiveItem .xs-product-category {
  border-right: none !important;
}
div#recent-products .xs-product-category:hover h4.product-title a {
  color: #0046be !important;
}



/* ============= Footer =========== */
div#footer {
  padding: 60px 0px;
  border-top: 2px solid #eeeeee;
}
div#footer .social-links {
  padding-top: 6px;
}
div#footer .social-links a {
  color: #363636;
  padding-right: 4px;
  transition: .2s;
}
div#footer .social-links a:hover {
  color: #0046be;
}
div#footer h5 {
  font-weight: 100;
  color: #acacac;
  margin-bottom: 15px;
}
div#footer h5 a {
  color: #2d2d2d !important;
  font-size: 17px;
  font-weight: 600;
}
div#footer h5 a:hover {
  color: #0046be !important;
}
div#footer a.map-link {
  display: inline-flex;
  background-color: #0046be;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 25px;
  line-height: 18px;
  font-size: 14px;
}
div#footer a.map-link:hover {
  background-color: #0442ab !important;
}
div#footer ul {
  padding: 0;
  list-style: none;
}
div#footer ul li a {
  color: #444444 !important;
  font-size: 14px;
  margin: 0;
  line-height: 1.4;
}
div#footer ul li a:hover {
  color: #0046be !important;
}
div#footer ul li {
  padding-bottom: 5px;
}


/* ============= CopyRight =========== */
div#copyRight {
  background-color: #0046be;
  padding: 30px 0px;
}
div#copyRight p {
  color: #fff;
  font-weight: 200;
}





/* ================================== PRODUCTS LIST PAGE ================================ */
.breadcrumbs {
  padding: 25px 0px;
}
.breadcrumbs p {
  font-size: 15px;
}
.breadcrumbs p a {
  color: #444444;
  font-size: 15px;
  margin: 0;
  line-height: 1.4;
}
.filter-bar {
  background-color: #f9f9f9;
  padding: 15px 0px;
  margin-top: 25px;
}
.filter-bar h6 {
  color: #393939;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  line-height: 20px;
}
.filter-options .form-group {
  margin: 0;
}
.filter-options h6 {
  display: flex;
  float: right;
}
.filter-options select#exampleFormControlSelect1 {
  padding: 0;
  border: none;
  background: transparent;
  height: auto;
  color: #393939;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.form-control:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}






/* ------ Products list------ */
.span_pseudo,
.chiller_cb span:before,
.chiller_cb span:after {
  content: "";
  display: inline-block;
  background: #fff;
  width: 0;
  height: 0.2rem;
  position: absolute;
  transform-origin: 0% 0%;
}

.chiller_cb {
  position: relative;
  height: 2rem;
  display: flex;
  align-items: center;
}
.chiller_cb:hover span{
  border: 1px solid #0063d1 !important;
}
.chiller_cb input {
  display: none;
}
.chiller_cb input:checked ~ span {
  background: #0046be;
  border-color: #0046be;
}
.chiller_cb input:checked ~ span:before {
  width: 1rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.3s;
}
.chiller_cb input:checked ~ span:after {
  width: 0.4rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.2s;
}
.chiller_cb input:disabled ~ span {
  background: #ececec;
  border-color: #dcdcdc;
}
.chiller_cb input:disabled ~ label {
  color: #dcdcdc;
}
.chiller_cb input:disabled ~ label:hover {
  cursor: default;
}
.chiller_cb label {
  padding-left: 2rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-bottom:0;
  color: #393939;
  font-size: 14px;
  font-weight: 400;
}
.chiller_cb span {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid #a2a2a2;
  position: absolute;
  left: 0;
  transition: all 0.2s;
  z-index: 1;
  box-sizing: content-box;
  border-radius: 5px;
}
.chiller_cb span:before {
  transform: rotate(-55deg);
  top: 1rem;
  left: 0.37rem;
}
.chiller_cb span:after {
  transform: rotate(35deg);
  bottom: 0.35rem;
  left: 0.2rem;
}
.chiller_cb:last-child {
  margin-bottom: 12px;
}

.products-list {
  margin-top: 25px;
  background: #f9f9f9;
}
.products-filter-accordion{
  background-color: #fff;
  padding: 0px 15px;
  height: 100%;
}
button.btn.btn-link  {
  padding: 0;
  width: 100%;
  text-align: left;
  color: #393939;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  transition: .2s;
}
button.btn.btn-link:hover {
  padding-left: 2px;
}
.products-filter-category {
  border-bottom: 1px solid #dadada;
  padding: 7px 0px;
}

/* product page list */
.product-page-list {
  padding-top: 25px;
}
.product-page-list .inner-item-wrapper {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 20px 0 rgba(144,144,144,.2);
  box-shadow: 0 2px 20px 0 rgba(144,144,144,.2);
  transition: .3s;
  margin-bottom: 25px;
}
.product-page-list .inner-item-wrapper:hover {
  -webkit-box-shadow: 0 2px 20px 0 rgba(144,144,144,.4);
  box-shadow: 0 2px 20px 0 rgba(144,144,144,.4);
}
.product-page-list .inner-item-wrapper h6.name {
  color: #191919;
  font-weight: 500;
  font-size: 16px;
}
.product-page-list .inner-wrapper-text {
  padding: 0px 25px 25px 25px;
}
.product-page-list .inner-wrapper-text a.buy-now {
  background-color: #0063d1;
  color: #fff;
  width: 100%;
  display: block;
  border-radius: 15px;
  padding: 6px;
}
.product-page-list .inner-wrapper-text p.product-code {
  padding-bottom: 5px;
}
.product-page-list .inner-wrapper-text p.price {
  padding-bottom: 20px;
}
.product-page-list .image-box img {
  transform: scale(1);
  transition: all .3s linear;
}
.product-page-list .inner-item-wrapper:hover .image-box img {
  transform: scale(1.09);
  transition: all .3s linear;
}
.product-page-list .inner-item-wrapper:hover h6.name {
  color: #0046be !important;
}




/* ================ Single products page ================ */
/* ------ Filter Bar ------ */
.product-details .filter-bar a {
  color: #393939;
  transition: .3s;
}
.product-details .filter-bar a.nav-link.js-scroll-trigger {
  padding: 0 !important;
  margin-right: 20px;
}
.product-details .filter-bar a.nav-link.js-scroll-trigger.active {
  font-weight: 600;
  border-bottom: 2px solid #000;
}
.product-details .filter-bar {
  padding: 7px 0px;
}
.product-details .sendtofriend-print {
  background: #3b5998;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: inline-block;
  padding:3px 11px 3px 5px;
}
.product-details .sendtofriend-print a,
.product-details .sendtofriend-print i.fa  {
  color: #fff !important;
  font-weight: 100;
  font-size: 13px;
}

/* ------------ scrollspy section------------ */
.product-details .scrollspy-example {
  position: relative;
  height: 662px;
  overflow: auto;
}
.product-details .scrollspy-example::-webkit-scrollbar {
  display: none;
}
.product-details .scrollspy-example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.product-details .products-summery h4 {
  font-size: 20px;
  font-weight: 500;
}
.product-details .products-summery p.p-code,
.product-details .products-summery p.m-name {
  font-size: 14px;
  font-weight: 600;
}
.product-details .products-summery p.p-code span,
.product-details .products-summery p.p-code span {
  font-weight: 200;
}

.product-details .products-summery p.price {
  padding: 20px 0px;
  font-size: 18px;
  font-weight: 700;
}
.product-details .products-summery p.price del {
  font-size: 14px;
  padding-right: 16px;
  font-weight: 400;
}


.product-details .bank-promo  {
  position: relative;
}
.product-details .bank-promo .item {
  text-align: center;
}
.product-details .bank-promo p.text {
  font-size: 12px;
}
.product-details .bank-promo p.amount {
  font-size: 12px;
  font-weight: 600;
  padding-top: 2px;
  color: #393939;
}
.product-details .bank-promo button.owl-prev,
.product-details .bank-promo button.owl-next {
  position: absolute;
  top: 33%;
}
.product-details .bank-promo button.owl-next {
  right: -3%;
}
.product-details .bank-promo button.owl-prev {
  left: -3%;
}
.product-details .bank-promo button.owl-prev span,
.product-details .bank-promo button.owl-next span {
  background: #eaeaea;
  color: #635151;
  padding: 0px 5px;
}
.product-details .bank-promo .owl-item {
  padding-left: 10px;
  padding-right: 10px;
}



.action-btn-section {
    padding-bottom: 40px;
}
.action-btn-section a {
  color: #fff;
  font-size: 12px;
  padding: 8px 25px;
  border-radius: 50px;
  width: 150px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}
.action-btn-section a.buy-now {
  background-color: #0063d1;
}
.action-btn-section a.add-cart {
  background-color: #9b9d9f;
}
.action-btn-section a.add-cart:hover {
  background-color: #aba8a8!important;
}



.option-detail {
    padding-top: 30px;
}
.option-detail h6 {
    font-weight: 500;
    color: #393939;
    font-size: 14px;
}
a.badge {
    color: #393939;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #d6d6d6;
    border-radius: 0;
    min-width: 32.7%;
    padding: 12px 15px;
    margin-bottom: 5px;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.05);
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.05);
}
.color-indicator {
    width: 20px;
    height: 20px;
    margin: 0px auto 5px;
    border-radius: 100%;
}
a.badge span {
    min-height: 104px;
    line-height: 42px;
}



/* ------ product slider ------ */
.product-details .product-slider #sync2 img.img-fluid {
  width: 105px;
  margin: auto;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 5px;
}
.product-details .product-slider #sync2 img.img-fluid:hover {
border: 1px solid #c3c3c3;
}
.product-details .product-slider .magnify-large {
  position: absolute;
  display: none;
  width: 500px;
  height: 500px;
  -webkit-box-shadow: 0 0 0 7px rgba(204, 204, 204, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius:  0%;
}



.product-details .other-detail {
    padding-top: 100px;
}
 .product-details .other-detail .middle {
    border-left: 1px solid #dadada;
        border-right: 1px solid #dadada;
}
.product-details .other-detail .item {
    padding: 10px 0px;
}



.product-details .product-summary {
    padding: 100px 0px;
}
.product-details .product-summary img.img-fluid.m-auto {
    padding-bottom: 15px;
}
.product-details .item {
    padding: 15px 0px;
}
 .product-details .item-outer{
       border-left: 1px solid #dadada;
 }
 .product-details .item-outer:first-child {
    border-left: none ;
}




.product-details section.product-details-section h2 {
    font-size: 40px;
    font-weight: 600;
}
.product-details section.product-details-section  img.img-fluid {
    padding: 25px 0px 50px;
}
.product-details section.product-details-section .text {
    padding: 0px 100px;
}


.product-details section#scroll-section-2 {
    background: #f9f9f9;
        padding: 60px 0px 40px 0px;
  }
.product-details section#scroll-section-2   li.detail-list-item {
    float: left;
    width: 33.33%;
}
.product-details section#scroll-section-2 p.title {
    font-size: 15px;
    font-weight: 600;
}
 .detail-list-item {
    padding-bottom: 25px;
}

/* .product-details section#scroll-section-2 .detail-list-item {
    padding-bottom:  25px;
} */
/* .product-details section#scroll-section-2
.product-details section#scroll-section-2  */
