@media (max-width: 991px){
  /* ============= Main Slider ============ */
  #carousel .carousel-control-prev-icon, #carousel .carousel-control-next-icon {
    width: 25px;
    height: 25px;
  }
  #carousel .carousel-item {
    height: 36vh;
    min-height: 0;
  }
  #carousel .carousel-item .captions {
    padding: 25px;
    margin-bottom: 0;
  }
  #carousel .captions p {
    padding-bottom: 15px;
  }
  #carousel .captions h1  {
    font-size: 26px;
  }
  #carousel .carousel-control-prev,
  #carousel .carousel-control-next {
    width: 11%;
  }

  /* ============= Populer item tabs ============ */
  div#populer-item-tab .inner-item-wrapper {
    min-height: 217px;
  }
  div#populer-item-tab .inner-item-wrapper.middle {
    min-height: 435px !important;
  }
  div#populer-item-tab .inner-item-wrapper.middle img {
    padding-top: 26px;
  }



  /* ============= Footer =========== */
  div#footer .divide {
    padding-top: 48px;
  }
}



@media (max-width: 767px){
  /* ============= Main menu  ============  */
  .main-header .row {
    flex-direction: column-reverse;
  }
  .main-header {
    padding: 10px 0px;
  }
  .main-header .right-content,
  .main-header .left-content {
    justify-content: space-between !important;
  }
  .main-header .left-content  {
    padding: 15px 0px 5px 0px;
  }
  .main-header .right-content  {
    padding: 0px 0px 15px 0px;
  }
  .main-header .middle-content .form-group.search-panel {
    display: none;
  }
  .main-header .cd-dropdown-trigger{
    padding: 0;
  }
  .main-header .cd-dropdown{
    left: 0;
    top: 168px;
    background-color: #fff;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .main-header .cd-dropdown.dropdown-is-active{
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -ms-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
    .main-header .cd-dropdown-content a,
    .main-header .cd-dropdown-content ul a{
    border-color: #fff;
    border-bottom: 1px solid #cecece !important;
    color: #393939 !important;
  }
    .main-header .has-children > a::before,
    .main-header .has-children > a::after,
    .main-header .go-back a::before,
    .main-header .go-back a::after {
      background: #000000;
  }
.main-header .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item {
    height: 55px;
    line-height: 55px;
        padding-left: 36px;
}
.main-header .cd-dropdown-content .has-children > a {
    font-size: 17px;
}
  /* ============= Populer item tabs ============  */
  div#populer-item-tab {
    padding: 40px 0px 35px 0px;
  }
  div#populer-item-tab .nav-tabs {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  div#populer-item-tab a.nav-item.nav-link {
    margin: 5px 9px;
  }
  div#populer-item-tab .inner-item-wrapper.middle {
    border-left: 1px solid #eeeeee !important;
    border-right: 1px solid #eeeeee !important;
  }
  div#populer-item-tab .inner-item-wrapper {
    min-height: 0;
  }
  div#populer-item-tab .inner-item-wrapper.middle .inner-wrapper-text {
    padding: 45px;
  }
  div#populer-item-tab .inner-wrapper-text {
    height: auto;
    padding: 16px 25px 25px 25px;
  }


  /* ============= Categories ============ */
  div#Categories .nav.nav-tabs {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  div#Categories a.nav-link,
  div#Categories a.category-item.nav-link:last-child {
    margin: 5px 9px;
  }
  div#Categories .tab-content {
    margin-left: auto;
  }
  div#Categories .content-header {
    margin-left: auto;
  }
  .content-header h5 {
    float: initial;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20px;
  }
  div#Categories .nav-tabs {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  div#Categories a.nav-link {
    margin: 5px 9px;
  }

  #best-deals .nav-tabs,
  div#recent-products .nav-tabs {
    float: inherit;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .banner-box {
    padding-top: 5px;
  }
}
