<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>

  <!-- ============= Main Slider ============ -->
  <div id="carousel" class="carousel slide hero-slides" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image:url('/images/slider_1.jpg')">
        <div class="container h-100">
          <div class="row align-items-end h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="captions animated fadeIn">
                <h1 class="animated fadeInLeft">Pure Flat</h1>
                <p class="animated fadeInRight">Now make perfect curd <br>Healthy and hygienic</p>
                <a class="animated fadeInUp " href="#">Learn more</a>
                <a class="animated fadeInUp btn buy-now" href="/products/singleproduct">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item "  style="background-image:url('/images/slider_2.jpg')">
        <div class="container h-100">
          <div class="row align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="captions animated fadeIn">
                <h1 class="animated fadeInLeft">Pure Flat</h1>
                <p class="animated fadeInRight">Now make perfect curd <br>Healthy and hygienic</p>
                <a class="animated fadeInUp " href="#">Learn more</a>
                <a class="animated fadeInUp btn buy-now" href="/products/singleproduct">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>



  <!-- ============= Populer item tabs ============ -->
  <div id="populer-item-tab">
    <div class="container ">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>Today’s popular Picks</h3>
        </div>

        <div class="col-md-12 text-center">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-item-1-tab" data-toggle="tab" href="#nav-item-1" role="tab" aria-controls="nav-item-1" aria-selected="true">Mobiles</a>
              <a class="nav-item nav-link" id="nav-item-2-tab" data-toggle="tab" href="#nav-item-2" role="tab" aria-controls="nav-item-2" aria-selected="false">TV</a>
              <a class="nav-item nav-link" id="nav-item-3-tab" data-toggle="tab" href="#nav-item-3" role="tab" aria-controls="nav-item-3" aria-selected="false">Air Conditioners</a>
              <a class="nav-item nav-link" id="nav-item-2-tab" data-toggle="tab" href="#nav-item-2" role="tab" aria-controls="nav-item-2" aria-selected="false">Washing Machine</a>
              <a class="nav-item nav-link" id="nav-item-2-tab" data-toggle="tab" href="#nav-item-2" role="tab" aria-controls="nav-item-2" aria-selected="false">Refrigerators</a>
            </div>
            <div class="clearfix"></div>
          </nav>
          <div class="clearfix"></div>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-item-1" role="tabpanel" aria-labelledby="nav-item-1-tab">
              <div class="row no-gutters">

                <div class="col-lg-3 col-md-3 text-center">
                  <div class="inner-item-wrapper">
                    <a href="/products/singleproduct">
                      <div class="image-box">
                        <img src="/images/mobile-2.png"  class="img-fluid" alt="">
                      </div>
                      <div class="inner-wrapper-text">
                        <h5>Galaxy A21s</h5>
                        <p>Extra discounts for Students</p>
                      </div>
                    </a>
                  </div>
                  <div class="inner-item-wrapper drak">
                    <a href="/products/singleproduct">
                      <div class="image-box">
                        <img src="/images/mobile-2.png"  class="img-fluid" alt="">
                      </div>
                      <div class="inner-wrapper-text">
                        <h5>Galaxy M31</h5>
                        <a href="/products/singleproduct" class="btn buy-now">Buy Now</a>
                      </div>
                    </a>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 text-center">
                  <div class="inner-item-wrapper middle" >
                    <a href="/products/singleproduct">
                      <div class="image-box">
                        <img src="/images/mobile-1.png"  class="img-fluid" alt="">
                      </div>
                      <div class="inner-wrapper-text">
                        <h5>Samsung galaxy Note20 | 20 Ultra</h5>
                        <p>25th September | Get up to Rs. 25,000 cashback</p>
                      </div>
                    </a>
                  </div>
                </div>

                <div class="col-lg-3 col-md-3 text-center">
                  <div class="inner-item-wrapper drak">
                    <a href="/products/singleproduct">
                      <div class="image-box">
                        <img src="/images/mobile-3.png"  class="img-fluid" alt="">
                      </div>
                      <div class="inner-wrapper-text">
                        <h5>Galaxy M31</h5>
                        <p>Extra discounts for Students</p>
                      </div>
                    </a>
                  </div>
                  <div class="inner-item-wrapper ">
                    <a href="/products/singleproduct">
                      <div class="image-box">
                        <img src="/images/mobile-4.png"  class="img-fluid" alt="">
                      </div>
                      <div class="inner-wrapper-text">
                        <h5>Galaxy A21s</h5>
                        <p>Extra discounts for Students</p>
                      </div>
                    </a>
                  </div>
                </div>

              </div>
            </div>

            <div class="tab-pane fade" id="nav-item-2" role="tabpanel" aria-labelledby="nav-item-2-tab">...</div>
            <div class="tab-pane fade" id="nav-item-3" role="tabpanel" aria-labelledby="nav-item-3-tab">...</div>
            <div class="tab-pane fade" id="nav-item-4" role="tabpanel" aria-labelledby="nav-item-4-tab">...</div>
            <div class="tab-pane fade" id="nav-item-5" role="tabpanel" aria-labelledby="nav-item-5-tab">...</div>
          </div>
        </div>

      </div>
    </div>
  </div>



  <!-- ============= Categories ============ -->
  <div id="Categories">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-3 col-md-3 d-none d-lg-block">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="#">  <div class="banner-box"><img class="d-block w-100" src="/images/advertiement.jpg" alt="First slide"></div></a>
              </div>
              <div class="carousel-item">
                <a href="#">  <div class="banner-box"><img class="d-block w-100" src="/images/advertiement.jpg" alt="Second slide"></div></a>
              </div>
              <div class="carousel-item">
                <a href="#">  <div class="banner-box"><img class="d-block w-100" src="/images/advertiement.jpg" alt="Third slide"></div></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-9 col-md-12">
          <div class="content-header">
            <h5>Categories</h5>
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="category-item nav-item nav-link active" id="category-item-1-tab" data-toggle="tab" href="#category-item-1" role="tab" aria-controls="category-item-1" aria-selected="true">Mobiles</a>
                <a class="category-item nav-link" id="category-item-2-tab" data-toggle="tab" href="#category-item-2" role="tab" aria-controls="category-item-2" aria-selected="false">TV</a>
                <a class="category-item nav-link" id="category-item-3-tab" data-toggle="tab" href="#category-item-3" role="tab" aria-controls="category-item-3" aria-selected="false">Air Conditioners</a>
                <a class="category-item nav-link" id="category-item-2-tab" data-toggle="tab" href="#category-item-2" role="tab" aria-controls="category-item-2" aria-selected="false">Washing Machine</a>
                <a class="category-item nav-link" id="category-item-2-tab" data-toggle="tab" href="#category-item-2" role="tab" aria-controls="category-item-2" aria-selected="false">Refrigerators</a>
              </div>
              <div class="clearfix"></div>
            </nav>
            <div class="clearfix"></div>
          </div>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="category-item-1" role="tabpanel" aria-labelledby="category-item-1-tab">
              <div class="row no-gutters">
                <div class="col-lg-4 col-md-4">
                  <div class="inner-item-wrapper " >
                    <a href="/products/singleproduct">
                      <div class="image-box">
                        <img src="/images/category_1.jpg"  class="img-fluid" alt="">
                      </div>
                      <div class="inner-wrapper-text text-center">
                        <h6 class="name">HP SPECTRE x360 i7</h6>
                        <p class="price"><span><del>Rs. 175,000</del></span> Rs. 155,990</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="inner-item-wrapper " >
                    <a href="/products/singleproduct">
                      <div class="image-box">
                        <img src="/images/category_2.jpg"  class="img-fluid" alt="">
                      </div>
                      <div class="inner-wrapper-text text-center">
                        <h6 class="name">HP SPECTRE x360 i7</h6>
                        <p class="price"><span><del>Rs. 175,000</del></span> Rs. 155,990</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="inner-item-wrapper " >
                    <a href="/products/singleproduct">
                      <div class="image-box">
                        <img src="/images/category_3.jpg"  class="img-fluid" alt="">
                      </div>
                      <div class="inner-wrapper-text text-center">
                        <h6 class="name">HP SPECTRE x360 i7</h6>
                        <p class="price"><span><del>Rs. 175,000</del></span> Rs. 155,990</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="inner-item-wrapper " >
                    <a href="/products/singleproduct">
                      <div class="image-box">
                        <img src="/images/category_4.jpg"  class="img-fluid" alt="">
                      </div>
                      <div class="inner-wrapper-text text-center">
                        <h6 class="name">HP SPECTRE x360 i7</h6>
                        <p class="price"><span><del>Rs. 175,000</del></span> Rs. 155,990</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="inner-item-wrapper " >
                    <a href="/products/singleproduct">
                      <div class="image-box">
                        <img src="/images/category_5.jpg"  class="img-fluid" alt="">
                      </div>
                      <div class="inner-wrapper-text text-center">
                        <h6 class="name">HP SPECTRE x360 i7</h6>
                        <p class="price"><span><del>Rs. 175,000</del></span> Rs. 155,990</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="inner-item-wrapper " >
                    <a href="/products/singleproduct">
                      <div class="image-box">
                        <img src="/images/category_6.jpg"  class="img-fluid" alt="">
                      </div>
                      <div class="inner-wrapper-text text-center">
                        <h6 class="name">HP SPECTRE x360 i7</h6>
                        <p class="price"><span><del>Rs. 175,000</del></span> Rs. 155,990</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="category-item-2" role="tabpanel" aria-labelledby="category-item-2-tab">...</div>
            <div class="tab-pane fade" id="category-item-3" role="tabpanel" aria-labelledby="category-item-3-tab">...</div>
            <div class="tab-pane fade" id="category-item-4" role="tabpanel" aria-labelledby="category-item-4-tab">...</div>
            <div class="tab-pane fade" id="category-item-5" role="tabpanel" aria-labelledby="category-item-5-tab">...</div>
          </div>
          <div class="text-right View-more">
            <a href="/products/product">View More <img src="/images/icons/right-arrow-1.png" class="img-fluid pl-3" alt=""></a>
          </div>
        </div>

      </div>
    </div>
  </div>



  <!-- ============= Best Deals ============ -->
  <div id="best-deals">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-md-12">
          <div class="content-header">
            <h5>Best Deals</h5>
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="deals-item nav-item nav-link active" id="deals-item-1-tab" data-toggle="tab" href="#deals-item-1" role="tab" aria-controls="deals-item-1" aria-selected="true">On Sell</a>
                <a class="deals-item nav-link" id="deals-item-2-tab" data-toggle="tab" href="#deals-item-2" role="tab" aria-controls="deals-item-2" aria-selected="false">Hot Sell</a>
                <a class="deals-item nav-link" id="deals-item-3-tab" data-toggle="tab" href="#deals-item-3" role="tab" aria-controls="deals-item-3" aria-selected="false">Trend</a>
                <a class="deals-item nav-link" id="deals-item-2-tab" data-toggle="tab" href="#deals-item-2" role="tab" aria-controls="deals-item-2" aria-selected="false">Best Sell</a>
              </div>
              <div class="clearfix"></div>
            </nav>
            <div class="clearfix"></div>
          </div>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="deals-item-1" role="tabpanel" aria-labelledby="deals-item-1-tab">
              <div class="row no-gutters">
                <div class="owl-carousel owl-theme best-deals-items">

                  <div class="item">

                    <div class="product-widget media">
                      <a class="product_img_link" href="/products/singleproduct">
                        <img class="d-flex img-fluid" src="/images/deals_item_4.png" alt="" width="100px"  />
                      </a>

                      <div class="media-body align-self-center product-widget-content">
                        <div class="product-header media ">
                          <ul class="ratin_list lock-star">
                            <a href="#"  data-target="#rateModel" data-toggle="modal">
                              <li><input id="raviews_star1" type="text" class="kv-fa rating-loading" value="" data-size="xs" title=""></li>
                            </a>
                          </ul>
                          <div >
                            <div class="yith-wcwl-add-button">
                              <a href="1" rel="nofollow" class="">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                        <a class="product_img_link" href="/products/singleproduct"><h4 class="product-title">THUNDER BULLET</h4></a>
                        <span class="price">Rs. 9,150</span>
                      </div>
                    </div>
                    <div class="product-widget media">
                      <a class="product_img_link" href="/products/singleproduct">
                        <img class="d-flex img-fluid" src="/images/deals_item_2.png" alt="" width="100px"  />
                      </a>

                      <div class="media-body align-self-center product-widget-content">
                        <div class="product-header media ">
                          <ul class="ratin_list lock-star">
                            <a href="#"  data-target="#rateModel" data-toggle="modal">
                              <li><input id="raviews_star1" type="text" class="kv-fa rating-loading" value="" data-size="xs" title=""></li>
                            </a>
                          </ul>
                          <div >
                            <div class="yith-wcwl-add-button">
                              <a href="1" rel="nofollow" class="">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                        <a class="product_img_link" href="/products/singleproduct"><h4 class="product-title">THUNDER BULLET</h4></a>
                        <span class="price">Rs. 9,150</span>
                      </div>
                    </div>
                  </div>

                  <div class="item">
                    <div class="product-widget media">
                      <a class="product_img_link" href="/products/singleproduct">
                        <img class="d-flex img-fluid" src="/images/deals_item_3.png" alt="" width="100px"  />
                      </a>

                      <div class="media-body align-self-center product-widget-content">
                        <div class="product-header media ">
                          <ul class="ratin_list lock-star">
                            <a href="#"  data-target="#rateModel" data-toggle="modal">
                              <li><input id="raviews_star1" type="text" class="kv-fa rating-loading" value="" data-size="xs" title=""></li>
                            </a>
                          </ul>
                          <div >
                            <div class="yith-wcwl-add-button">
                              <a href="1" rel="nofollow" class="">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                        <a class="product_img_link" href="/products/singleproduct"><h4 class="product-title">THUNDER BULLET</h4></a>
                        <span class="price">Rs. 9,150</span>
                      </div>
                    </div>
                    <div class="product-widget media">
                      <a class="product_img_link" href="/products/singleproduct">
                        <img class="d-flex img-fluid" src="/images/deals_item_4.png" alt="" width="100px"  />
                      </a>

                      <div class="media-body align-self-center product-widget-content">
                        <div class="product-header media ">
                          <ul class="ratin_list lock-star">
                            <a href="#"  data-target="#rateModel" data-toggle="modal">
                              <li><input id="raviews_star1" type="text" class="kv-fa rating-loading" value="" data-size="xs" title=""></li>
                            </a>
                          </ul>
                          <div >
                            <div class="yith-wcwl-add-button">
                              <a href="1" rel="nofollow" class="">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                        <a class="product_img_link" href="/products/singleproduct"><h4 class="product-title">THUNDER BULLET</h4></a>
                        <span class="price">Rs. 9,150</span>
                      </div>
                    </div>
                  </div>

                  <div class="item">
                    <div class="product-widget media">
                      <a class="product_img_link" href="/products/singleproduct">
                        <img class="d-flex img-fluid" src="/images/deals_item_5.png" alt="" width="100px"  />
                      </a>

                      <div class="media-body align-self-center product-widget-content">
                        <div class="product-header media ">
                          <ul class="ratin_list lock-star">
                            <a href="#"  data-target="#rateModel" data-toggle="modal">
                              <li><input id="raviews_star1" type="text" class="kv-fa rating-loading" value="" data-size="xs" title=""></li>
                            </a>
                          </ul>
                          <div >
                            <div class="yith-wcwl-add-button">
                              <a href="1" rel="nofollow" class="">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                        <a class="product_img_link" href="/products/singleproduct"><h4 class="product-title">THUNDER BULLET</h4></a>
                        <span class="price">Rs. 9,150</span>
                      </div>
                    </div>
                    <div class="product-widget media">
                      <a class="product_img_link" href="/products/singleproduct">
                        <img class="d-flex img-fluid" src="/images/deals_item_6.png" alt="" width="100px"  />
                      </a>

                      <div class="media-body align-self-center product-widget-content">
                        <div class="product-header media ">
                          <ul class="ratin_list lock-star">
                            <a href="#"  data-target="#rateModel" data-toggle="modal">
                              <li><input id="raviews_star1" type="text" class="kv-fa rating-loading" value="" data-size="xs" title=""></li>
                            </a>
                          </ul>
                          <div >
                            <div class="yith-wcwl-add-button">
                              <a href="1" rel="nofollow" class="">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                        <a class="product_img_link" href="/products/singleproduct"><h4 class="product-title">THUNDER BULLET</h4></a>
                        <span class="price">Rs. 9,150</span>
                      </div>
                    </div>
                  </div>

                  <div class="item">
                    <div class="product-widget media">
                      <a class="product_img_link" href="/products/singleproduct">
                        <img class="d-flex img-fluid" src="/images/deals_item_6.png" alt="" width="100px"  />
                      </a>

                      <div class="media-body align-self-center product-widget-content">
                        <div class="product-header media ">
                          <ul class="ratin_list lock-star">
                            <a href="#"  data-target="#rateModel" data-toggle="modal">
                              <li><input id="raviews_star1" type="text" class="kv-fa rating-loading" value="" data-size="xs" title=""></li>
                            </a>
                          </ul>
                          <div >
                            <div class="yith-wcwl-add-button">
                              <a href="1" rel="nofollow" class="">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                        <a class="product_img_link" href="/products/singleproduct"><h4 class="product-title">THUNDER BULLET</h4></a>
                        <span class="price">Rs. 9,150</span>
                      </div>
                    </div>
                    <div class="product-widget media">
                      <a class="product_img_link" href="/products/singleproduct">
                        <img class="d-flex img-fluid" src="/images/deals_item_2.png" alt="" width="100px"  />
                      </a>

                      <div class="media-body align-self-center product-widget-content">
                        <div class="product-header media ">
                          <ul class="ratin_list lock-star">
                            <a href="#"  data-target="#rateModel" data-toggle="modal">
                              <li><input id="raviews_star1" type="text" class="kv-fa rating-loading" value="" data-size="xs" title=""></li>
                            </a>
                          </ul>
                          <div >
                            <div class="yith-wcwl-add-button">
                              <a href="1" rel="nofollow" class="">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                        <a class="product_img_link" href="/products/singleproduct"><h4 class="product-title">THUNDER BULLET</h4></a>
                        <span class="price">Rs. 9,150</span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="deals-item-2" role="tabpanel" aria-labelledby="deals-item-2-tab">...</div>
            <div class="tab-pane fade" id="deals-item-3" role="tabpanel" aria-labelledby="deals-item-3-tab">...</div>
            <div class="tab-pane fade" id="deals-item-4" role="tabpanel" aria-labelledby="deals-item-4-tab">...</div>
            <div class="tab-pane fade" id="deals-item-5" role="tabpanel" aria-labelledby="deals-item-5-tab">...</div>
          </div>
        </div>

      </div>
    </div>
  </div>



  <!-- ============= Campaign-banner =========== -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="banner-box">
          <a href="#"><img src="/images/advertiement_banner_1.png" class="img-fluid" alt=""></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="banner-box">
          <a href="#"><img src="/images/advertiement_banner_2.png" class="img-fluid" alt=""></a>
        </div>
      </div>
    </div>
  </div>



  <!-- ============= Recent Products =========== -->
  <div id="recent-products">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="content-header">
            <h5>Recently Added</h5>
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="recent-item nav-link active" id="recent-item-1-tab" data-toggle="tab" href="#recent-item-1" role="tab" aria-controls="recent-item-1" aria-selected="true">On Sell</a>
                <a class="recent-item nav-link" id="recent-item-2-tab" data-toggle="tab" href="#recent-item-2" role="tab" aria-controls="recent-item-2" aria-selected="false">Hot Sell</a>
                <a class="recent-item nav-link" id="recent-item-3-tab" data-toggle="tab" href="#recent-item-3" role="tab" aria-controls="recent-item-3" aria-selected="false">Trend</a>
              </div>
              <div class="clearfix"></div>
            </nav>
            <div class="clearfix"></div>
          </div>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="recent-item-1" role="tabpanel" aria-labelledby="recent-item-1-tab">
              <div class="row no-gutters">
                <div class="owl-carousel owl-theme recent-items">

                  <div class="xs-product-category">
                    <a  href="/products/singleproduct">
                      <img src="/images/deals_item_4.png" alt=" " class="img-fluid" loading="lazy" width="120px"  />
                    </a>
                    <h4 class="product-title"><a href="/products/singleproduct">STEAM IRON</a></h4>
                    <span class="price"> Rs. 5,750 </span>
                  </div>

                  <div class="xs-product-category">
                    <a  href="/products/singleproduct">
                      <img src="/images/deals_item_2.png" alt=" " class="img-fluid" loading="lazy" width="120px"  />
                    </a>
                    <h4 class="product-title"><a href="/products/singleproduct">STEAM IRON</a></h4>
                    <span class="price"> Rs. 5,750 </span>
                  </div>

                  <div class="xs-product-category">
                    <a  href="/products/singleproduct">
                      <img src="/images/deals_item_1.png" alt=" " class="img-fluid" loading="lazy" width="120px"  />
                    </a>
                    <h4 class="product-title"><a href="/products/singleproduct">STEAM IRON</a></h4>
                    <span class="price"> Rs. 5,750 </span>
                  </div>

                  <div class="xs-product-category">
                    <a  href="/products/singleproduct">
                      <img src="/images/deals_item_3.png" alt=" " class="img-fluid" loading="lazy" width="120px"  />
                    </a>
                    <h4 class="product-title"><a href="/products/singleproduct">STEAM IRON</a></h4>
                    <span class="price"> Rs. 5,750 </span>
                  </div>

                  <div class="xs-product-category">
                    <a  href="/products/singleproduct">
                      <img src="/images/deals_item_5.png" alt=" " class="img-fluid" loading="lazy" width="120px"  />
                    </a>
                    <h4 class="product-title"><a href="/products/singleproduct">STEAM IRON</a></h4>
                    <span class="price"> Rs. 5,750 </span>
                  </div>

                  <div class="xs-product-category">
                    <a  href="/products/singleproduct">
                      <img src="/images/deals_item_6.png" alt=" " class="img-fluid" width="120px" loading="lazy" />
                    </a>
                    <h4 class="product-title"><a href="/products/singleproduct">STEAM IRON</a></h4>
                    <span class="price"> Rs. 5,750 </span>
                  </div>

                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="recent-item-2" role="tabpanel" aria-labelledby="recent-item-2-tab">...</div>
            <div class="tab-pane fade" id="recent-item-3" role="tabpanel" aria-labelledby="recent-item-3-tab">...</div>
          </div>
        </div>
      </div>
    </div>
  </div>





</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
